/* common on all pages */

body{
	font-family: "Arial", "helvitica Neue", Helvetica, sans-serif;
}

header{}

footer{
	clear: both;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.17em;
}

ul{
	list-style: none;
}

/*navigation buttons */
header nav ul li{
	display: inline-block;
	padding: 5px;
}

/*connection buttons*/
#connect ul li{
	display: inline-block;
}

/*main body background*/
.main{
	background-image: url(../images/gray.png);
	overflow: hidden;
}

/*wrapper for all content exclusive from body and .main*/
.wrapper{
	max-width: 960px;
	margin: auto;
}

/*wrapper for main body right column for all pages*/
#connect{
	width: 270px;
	float: right;
}

/*wrapper for main body left column for all pages*/
.mainleft{
	width: 650px;
	float: left;
}

/*applies to multiple attributes*/

h1, h2, h3{
	font-weight: bold;
	font-family: "Georgia", Times, "Times New Roman", serif;
}

h2, h3{
	color:#008dd2;
}

/*Unique on each page */
/*index.html*/

/*contact.html*/

	/*Styling of text entering fields.*/
	input[type=text], input[type=email], textarea{
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}

	/*Style and color of submission button.*/
	input[type=submit]{
		background-color: #008dd2;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	/*Change color when hover over button.*/
	input[type=submit]:hover{
		background-color: #066da0;
	}

	#contactme{
		border-radius: 5px;
		background-color: #ffffff;
		padding: 20px;
	}

/*portfolio.html*/