/* contact form style information
https://www.w3schools.com/howto/howto_css_contact_form.asp*/
body{
    font-family: "Arial", "helvitica Neue", Helvetica, sans-serif;
    color: #777777;
    max-width: 960px;
    margin: auto;
}

header{
    background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
    /*border-width: 5px;*/
    margin: auto;
}

footer{
    background-color: #666666;
    clear: both;
/*    position: absolute;
    position: bottom;*/
}

.Main {
border-color: #dddddd;
border-style: solid;
border-width: 5px;
background-image: url(../images/gray.png);
clear: both;
}

h1, h2, h3{
font-family: "Georgia", Times, "Times New Roman", serif;
font-weight: bold;
}

h2, h3{
    color:#4aaaa5;
}

h1{
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    font-size: 2em;
    float: left;
    padding: 20px;
    margin-left: 50px;
}

nav {
    float: right;
    margin-right: 50px;
    padding: 20px;
    width: 270px;
} 

header nav ul li{
    /*float: left;*/
     display: inline-block;
     padding: 5px;
     border-style: solid;
     border-color: #dddddd;
     border-right-width: 1px;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.17em;
}
ul{
    list-style: none;
}
#img{
    float: left;
    padding-right: 10px;
}

#AboutMe, #ContactMe, #Portfolio{
    background-color: #ffffff;
    float: left;
    margin: 25px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

#AboutMe, #ContactMe, {
    width: 650px;
}

#copyright{
    text-align: center;
}
